GROQ_API_KEY=

MEM0_API_KEY=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_NUMBER=
TWILIO_VERIFY_SERVICE_SID=

REDIS_URL=redis://redis:6379/0

DATABASE_URL=sqlite:///app/data/health_db.sqlite

VECTOR_DB_PATH=/app/rag/vector_store

DEBUG=False

SECRET_KEY=

CORS_ORIGINS=